@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@font-face {
  font-family: 'CamelotCaps';
  src: url('/fonts/Camelotcaps-aW2x.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Orbitron', system-ui, sans-serif;
}

h1::first-letter, h2::first-letter {
  text-transform: uppercase;
  font-family: 'CamelotCaps', 'Orbitron', system-ui, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: -0.15em;
}

h3 {
  font-size: 1em;
}
